<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Todo">
<head>
    <title>Xiencias</title>

     {% include "head.html" %}

    <script type="text/javascript" src="/static/js/externalapp.js"></script>
  
</head>
<body>

    {% include "header1.html" %}

    <div class='cuerpo'>




    <div class='derecha'>

    <div class='container'>

    

      <iframe ng-src="http://10.13.50.60/AGE/" width="1500" height="1500" frameborder="0">
  <p>Your browser does not support iframes.</p>
</iframe>



    </div>


    </div>



<script type="text/javascript" src="/static/js/preload.js"></script>
  
     


   

</body>
</html>