<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Todo">
<head>
    <title>Xiencias</title>
  {% include "head.html" %}
     <script type="text/javascript" src="/static/js/agenda.js"></script>
   
</head>
<body>


{% include "header1.html" %}

    <div class='container'>






    
   
    <div class='row'>

      <div class="col-md-4" ng-if="user.authusergroups__group_id__name=='Admin' || user.authusergroups__group_id__name=='Superuser' ">

      <button type="button" class="btn btn-primary" ng-click="editContact(contact,$index)" data-toggle="modal" data-target="#cliente"><i class="fa fa-plus"></i></button>
       <h3>Bases</h3>

        
     <!--Preload-->


     



        <table class="table  table-condensed table-hover clientes">
    
        <tbody>

        <thead>

            <tr>

                 
                  <th class='name'>Nombre <a ng-click="sort_by('name',currentPage)"><i class="icon-sort"></i></a></th>

                  <th></th>
             
            </tr>

            </thead>


              <tfoot>
                    <td colspan="12">
                      <ul class="pagination" ng-repeat="n in toto">
                      <li ng-class="{active: n-1 == currentPage}"><a href="#" ng-click="setPage()">{[{n}]}</a></li>
                      </ul>
      
                    </td>
                </tfoot>

              <tr class='animate' ng-repeat="contact in grupos  " ts-repeat>

      
             
                <td>{[{contact.name}]}</td>

             
                <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click='getcontactos(contact)'>Detalle</button>
          
                     
                </td>
                
                

                </tr>


        </tbody>


        </table>



        </div>





        <div class='col-md-8 ' ng-if="user.authusergroups__group_id__name=='Manager' || user.authusergroups__group_id__name=='Superuser' || user.authusergroups__group_id__name=='Admin'  ">




          

              <button type="button" class="btn btn-primary" ng-click="editContact(contact,$index)" data-toggle="modal" data-target="#user"><i class="fa fa-plus"></i></button>

              <button type="button" class="btn btn-primary" ng-click="editContact(contact,$index)" data-toggle="modal" data-target="#upload"><i class="fa fa-upload"></i></button>

        <h3> Contactos {[{name}]} <h5>Cantidad de Registros {[{contador}]}</h5></h3>



        <form class="navbar-search pull-left" action="">
        <input placeholder="Buscar" ng-change="search(tipo)"  type="text" ng-model="tipo" class="form-control" >
        </form>



 
        

        


        <table class="table  table-condensed table-hover clientes">
    
        <tbody>

        <thead>

            <tr>

                 
                  <th class='nombre'>Nombre <a ng-click="sort_by('nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th class='telefono'>Telefono <a ng-click="sort_by('telefono',currentPage)"><i class="icon-sort"></i></a></th>
                  <th class='edad'>Edad <a ng-click="sort_by('edad',currentPage)"><i class="icon-sort"></i></a></th>
                  <th></th>
             
            </tr>

            </thead>


              
              <tfoot>
                    <td colspan="6">
                        <div class=" pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>

              <tr class='animate' ng-repeat="contact in pagedItems[currentPage]  " ts-repeat>

            

                <td>{[{contact.nombre}]}</td>
             
                <td>{[{contact.telefono}]}</td>

                <td>{[{contact.edad}]}</td>
                <td>
                <button type="button" class="btn btn-primary btn-sm" ><i class="fa fa-pencil-square-o"></i></button>
                <button type="button" class="btn btn-primary btn-sm" ><i class="fa fa-trash"></i></button>
                     
                </td>
                
                

                </tr>


        </tbody>


        </table>
        </div>
         <div class="svg-container" id="boxContainer">
        <svg id="boxLoader" width="70px" height="70px" viewBox="0 0 35 35" preserveAspectRatio="none">
          <rect x="0" fill="#fff" width="35" height="35" />
        </svg>
        <svg id="base" width="210px" height="210px" viewBox="0 0 105 105" preserveAspectRatio="none">
          <line stroke-width="1.5" fill="none" stroke="#383845" stroke-miterlimit="10" x1="0" y1="52.5" x2="105" y2="52.5" />
        </svg>
      </div>
      </div>
</div>


       

         

        



</div>

<!--Modales-->

<div id="cliente" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Base</h4>
      </div>
      <div class="modal-body">
                            <form ng-submit="agregargrupo(model)">

                            <div class='row'>
                  

                            <div class="col-md-6">
                            <p>Nombre</p>
                            <input type="text" class="form-control" ng-model="model.name" required ="" >
                            </div>
                            
                           </div>

                            


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
    </div>

  </div>
</div>

<!--Modalfin-->


<!--Modales-->

<div id="user" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar contacto a {[{name}]}</h4>
      </div>
      <div class="modal-body">
                            <form ng-submit="agregarcontacto(model)">

                            <div class='row'>
                  

                            <div class="col-md-6">
                            <p>Nombre</p>
                            <input type="text" class="form-control" ng-model="model.nombre" required ="" >
                            </div>

                            <div class="col-md-6">
                            <p>Edad</p>
                            <input type="text" class="form-control" ng-model="model.edad" required ="" >
                            </div>

                            <div class="col-md-6">
                            <p>Telefono</p>
                            <input type="text" class="form-control" ng-model="model.telefono" required ="" >
                            </div>

              
                            
                           </div>

                            


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
        </form>


      </div>
    </div>

  </div>
</div>

<!--Modalfin-->

<!--Modales-->

   <script>

    </script>

<div id="upload" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar contacto a {[{name}]}</h4>
      </div>
      <div class="modal-body">
     


      <form action="/baseupload/" method="post" id="formuploadajax"  role="form" enctype="multipart/form-data">
          {% csrf_token %}

        
          <i class="fa fa-file-excel-o base"></i>


          <label for="pwd"> Excel </label>
          <input type="file" name="process_file"  class="form-control excel" required ="">
         


      </div>

         <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
        </form>


      </div>
    </div>

  </div>
</div>

<!--Modalfin-->



<script type="text/javascript" src="/static/js/preload.js"></script>





</body>

</html>