<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Todo">
<head>
    <title>Xiencias</title>
 
	{% include "head.html" %}
	<script src="/static/js/configuracion.js"></script>
   
</head>



<body>

{% include "header1.html" %}




<div class='container'>

<div class='row'>
	
	<div class="col-md-4">
		<p>Logo</p>
		<select name="" id="input" class="form-control" required="required">
			<option value=""></option>
		</select>
	</div>

	<div class="col-md-4">
		<p>Idioma</p>
		<select name="" id="input" class="form-control" required="required">
			<option value=""></option>
		</select>
	</div>

	<div class="col-md-4">
		<p>Tema</p>
		<select name="" id="input" class="form-control" required="required">
			<option value=""></option>
		</select>
	</div>




</div>



	<!--<div class='derecha'>


		<button type="button" ng-click='apagar()' class="btn btn-primary">Apagar Sistema</button>

		<button type="button" ng-click='prender()' class="btn btn-primary">Activar Sistema</button>

	</div>-->

</div>



<style type="text/css">

p {
font-size: 1em;
line-height: 1.25em;
margin: 0.625em 0;
text-align: justify;
}

</style>


</body>
</html>