<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Todo">
<head>
    <title>Xiencias Carga</title>

    {% include "head.html" %}

    <script type="text/javascript" src="/static/js/app.js"></script>
   
</head>
<body>

    {% include "header1.html" %}

    <div class='cuerpo'>

    {% include "verticalblaster.html" %}


    <div class='derecha'>

        <div class='container'>



            <div class="col-md-12">

                <h2>Envio Voip</h2>

                <h5>Envio de numeros telefonicos usando la API de Xiencias!</h5>
                <hr align="left"  size="20" width="100%" />

                <p>En unos pocos pasos, nosotros te explicaremos como enviar llamadas masivas usando la API de Xiencias</p>

                <p>Primeramente, tu necesitaras una cuenta en Xiencias. Cuando tu tengas una cuenta tu obtendras un usuario y password</p>

                <p>Luego tu usuario y password sera codificado en base64 como sigue:</p>

                
                <p><li>Combina el usuario y password en un string de la siguiente forma usuario:password </li></p>
                <p><li>Codifica el resultado usando Base64 </li></p>
                

                <br>

                <h4>Ejemplo</h4>

                <p>Usuario: root</p>
                <p>Password: 123</p>
                <p>Base64 codificacion string: cm9vdDoxMjM= </p>

       
        
                <h2>Definicion</h2>

                <p>https://xiencias.com:9000/blaster/</p>
                <hr align="left"  size="20" width="80%" />

                <h2>Parametros</h2>

                 <div class="panel panel-default">
               
                    <div class="panel-heading">

                    <div class='row'>

                    <div class="col-md-2">
                    Variables
                    </div>
                    <div class="col-md-10">

                    <p>Significado</p>
                    
                    </div>

                    </div>
                    
                    </div>

                    <div class="panel-body">
                    <div class='row'>

                        <div class="col-md-2">
                        <p style="font-weight: bold;">auth</p>
                        </div>
                        <div class="col-md-10">

                        <p style="font-weight: bold;">String</p>
                        <p>Codifacion Base64 del usuario y password</p>
                        </div>

                        <div class="col-md-2">
                        <p style="font-weight: bold;">base</p>
                        </div>
                        <div class="col-md-10">

                        <p style="font-weight: bold;">Archivo</p>
                        <p>Es el archivo excell a subir donde en la primera columna estan los numeros que recibiran las llamadas </p><p> La direccion de destino debe tener el formato (Ejemplo: 980729169). </p>
                        </div>

                        <div class="col-md-2">
                        <p style="font-weight: bold;">audio1</p>
                        </div>
                        <div class="col-md-10">

                        <p style="font-weight: bold;">Archivo</p>
                        <p>Representa el archivo de audio en mp3 que sera enviado en las llamadas </p>
                        </div>

                        <div class="col-md-2">
                        <p style="font-weight: bold;">nombre</p>
                        </div>
                        <div class="col-md-10">

                        <p style="font-weight: bold;">String</p>
                        <p>Representa el nombre del lote a enviar </p>
                        </div>
                    
                    
                    
                    </div>

               
                    </div>

                </div>

                

        </div>

        



     </div>

 

    </div>

    </div>


  
 
     <style type="text/css">

    span.tab{
    padding: 0 40px; /* Or desired space*/
    color:rgb(75, 75, 134);
    }

     </style>

   

</body>
</html>