<header>
		<div class="menu_bar">
			<a href="#" class="bt-menu">XIENCIAS<i class="fa fa-bars"></i></a>
			
		</div>


 
		<nav>
			<ul>
				<li class='logox' onclick='ocultamenuv()'>XIENCIAS</li>
				<li  ng-if="user.id == 1"><a href="/home"><span class='icon'><i class="fa fa-paper-plane-o"></i></span><span class='texto'> Admin</span></a></li>

				<li ng-if="blaster == 1"><a href="/cargabase"><span class='icon'><i class="fa fa-comment-o"></i></span><span class='texto'> Blaster</span></a></li>

				<li  ng-if="monitor == 1"><a href="/monitoreo"><span class='icon'><i class="fa fa-area-chart"></i></span><span class='texto'> Monitor</span></a></li>

				
				<li ng-if="cdr == 1"><a href="/cdr"><span class='icon'><i class="fa fa-line-chart"></i></span><span class='texto'> CDR</span></a></li>


				<li class="submenu login">
					<a href="#"><span class='icon'><i class="fa fa-user"></i></span><span class='texto'> Login</span></a>
		
				</li>

				
				
				
			</ul>
		</nav>
	</header>

<script type="text/javascript">

i=0

	
	function ocultamenuv(){


		i=i+1
		console.log(i)

	if (i%2 == 0){

        $('.izquierda').css( "display","block");
        $('.izquierda').addClass('animated fadeInLeft');

    }
    else{

      $('.izquierda').css( "display","none");

 
    

    }


	}




	


</script>