<!DOCTYPE html>
<html lang="en">
<head>

        <title>Cotizador Web</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link href="http://www.hermes.pe/templates/hermes/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="/static/js/angular.js"></script>
        <script src="/static/js/angular-route.js"></script>
        <script src="/static/js/angular-cookie.js"></script>
        <script src="/static/js/rutas.js"></script>
        <script src="/static/js/elif.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>


</head>

<body ng-app="App">

<div class="container">


</div>


<div ng-view></div>



</body>

</html>



