<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Todo">
<head>
    <title>Xiencias</title>
 
	{% include "head.html" %}
	
</head>



<body>

{% include "header1.html" %}

<div class='cuerpo'>

	{% include "verticalblaster.html" %}


	<div class='derecha'>

		<div class='container'>

	                

                     <h2>Envio Masivo de Llamadas de Voz</h2>

                                    <h5>Pasos de Envio</h5>
                                    
                       				<hr align="left"  size="20" width="100%" />


                                    <p>Esta guia le indicara en pocos pasos como enviar llamadas de voz masivos</p>
                                    <br>

                                    <div class='help'>
									<span class="fa-stack fa-2x">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<strong class="fa-stack-1x">1</strong>
									</span> 
									<h3 class='helpt'> Carga de Base</h3>

									</div>

                                    
                                    <hr align="left"  size="20" width="100%" />

                                    <p>La carga de base se refiere a los numeros telefonicos que seran cargados desde un archivo excell.</p><p> Usted tendra que crear un archivo excell incluyendo en la primera columna el número telefonico al que desea enviar la llamada</p>

                                    <p>A su vez tambien usted tendra que cargar un audio como maximo 2, este sera el audio de voz que sera enviado</p>
                                    <br>

                                   

                                    <div class='help'>
									<span class="fa-stack fa-2x">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<strong class="fa-stack-1x">2</strong>
									</span> 
									<h3 class='helpt'> Envio de Base</h3>

									</div>
                                    <hr align="left"  size="20" width="100%" />
                                    <p> Al cargar una base usted sera redirigido a una pagina donde tendra una vista previa de los numeros que seran llamados,</p><p> en este punto podra enviar las llamadas con el audio de voz haciendo click en el boton enviar , tambien puede cancelar el lote cargado</p>

                                    <br>

                                     <div class='help'>
									<span class="fa-stack fa-2x">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<strong class="fa-stack-1x">3</strong>
									</span> 
									<h3 class='helpt'> Monitoreo de llamadas</h3>

									</div>
                                    <hr align="left"  size="20" width="100%" />
                                    <p> En este punto usted podra ver en tiempo real como va el proceso de envio de llamadas, el estado de la llamada , la duracion, numero de intentos, etc</p>
                                    <br>


                                         <div class='help'>
									<span class="fa-stack fa-2x">
									<i class="fa fa-circle-o fa-stack-2x"></i>
									<strong class="fa-stack-1x">4</strong>
									</span> 
									<h3 class='helpt'> Consulta y Reporte</h3>

									</div>
                                    <hr align="left"  size="20" width="100%" />
                                    <p> Podra ver historial de todos los lotes enviados y consultar todas las llamadas enviadas </p>


                                    <br>

                                    	<video width="1000" height="500" controls autoplay >

										<source src="/static/video/ola-9.ogv" type="video/ogg">
										Your browser does not support the video tag.
										</video>
                       




           </div> 


				
        </div>





</div>

	</div>



<style type="text/css">

p {
font-size: 1em;
line-height: 1.25em;
margin: 0.625em 0;
text-align: justify;
}

</style>


</body>
</html>