<!DOCTYPE html>
<html ng-app="myApp" ng-controller="Todo">
<head>
    <title>Xiencias</title>


    {% include "head.html" %}
    <script type="text/javascript" src="/static/js/mlote.js"></script>
   
</head>
<body>


    {% include "header1.html" %}

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="/static/css/toogle.css" rel="stylesheet">
    <script src="/static/js/toogle.js"></script>


      <div class='cuerpo'>

    {% include "verticalblaster.html" %}


      <div class='derecha'> 

      <div class='container'>

      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#lote"><i class="fa fa-comment" style="font-weight: bold;"></i></button> 
      <br></br>
      <!--Modal -->

        <form ng-submit="agregarlote(model)">

                            <div class='row'>
                  

                                <div class="col-md-3">
                                      <p><a class='btn btn-sm' > Nombre <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>

                                      <input type="text" ng-model ='model.name' name="" id="input" class="form-control" value="" required=""  >
                                </div>
                             

                                <div class="col-md-3">
                                      <p><a class='btn btn-primary btn-sm' href='/agenda'> Base <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>

                                      <div class='row'>
                   
                                      <div class="col-md-10">

                                      <select class='form-control' ng-options="item as item.name for item in grupos track by item.id" ng-model="model.grupo"></select>
                                      </div>
                                       <div class="col-md-2">
                                      <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#grupo"><i class="fa fa-plus"></i></button>
                                      </div>
                                      </div>
                                 
                                </div>


                                <div class="col-md-3">
                                     <p><a class='btn btn-sm' href='#'> Audio <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>

                                                    

                                      <div class='row'>

                                          <div class="col-md-10">
                                          <select class='form-control' ng-options="item as item.audio1 for item in audios track by item.id" ng-model="model.audio"></select>
                                          </div>
                                          <div class="col-md-2">

                                          <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#upload"><i class="fa fa-plus"></i></button>

                                          </div>

                                      </div>

                                </div>

                                <div class="col-sm-1">
                                
                                      <p><a class='btn  btn-sm' href='#'> Encuesta <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>

                                      <input type="checkbox" id='tog' name="encuesta" data-toggle="toggle">

                                </div>
                           

                                 <div class="col-sm-2">

                                  <p><i class="fa fa-comment-o" style="font-weight: bold;"></i></p>
                             
                                   <button type="submit" class="btn btn-primary btn-sm">Enviar</button>

                                  </div>


                            
                           </div>

                          

     
       
        </form>



      
<!--Modal-->




<div id="upload" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar audio</h4>
      </div>
      <div class="modal-body">
     


      <form action="/uploadbase/" method="post" id="formuploadajax"  role="form" enctype="multipart/form-data">
          {% csrf_token %}

        
          <i class="fa fa-file-excel-o base"></i>


          <label for="pwd"> Audio </label>
          <input type="file" name="audio1"  class="form-control excel" required ="">
         


      </div>

         <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
        </form>


      </div>
    </div>

  </div>
</div>


<div id="grupo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Base</h4>
      </div>
        <div class="modal-body">
     


        <form action="/upbase/" method="post" id="formuploadajax"  role="form" enctype="multipart/form-data">
          {% csrf_token %}

      
          <p>Nombre</p>
          <input type="text" class="form-control" name='name' ng-model='rbase.name' required ="" >
       
          <br>
          <p><i class="fa fa-file-excel-o base"></i> Excel </p>
       
          <input type="file" name="process_file"  ng-model='rbase.excel' class="form-control excel" required ="">
       


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
          </form>


        </div>
    </div>

  </div>
</div>


<div id="lote" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Envio Blaster Individual</h4>
      </div>
      <div class="modal-body">
                            <form ng-submit="blasterindividual(bindividual)">

                            <div class='row'>
                  

                            <div class="col-md-12">
                            <p>Telefono</p>
                            <input type="text" ng-model ='bindividual.destino' name="" id="input" class="form-control" value="" required=""  >
                            </div>
                         

                            <div class="col-md-12">
                            <p>Fecha</p>
                             <input type="date" ng-model ='bindividual.fecha' name="" id="input" class="form-control" value="" required=""  >
                      
                            </div>

                            <div class="col-md-12">
                            <p>Audio</p>
                             <select class='form-control' ng-options="item as item.audio1 for item in audios track by item.id" ng-model="bindividual.audio"></select>

                            </div>

                            <div class="col-sm-12">
                            
                            <p>Encuesta</p>
                            <input type="checkbox" id='tog' name="encuesta" data-toggle="toggle">

                            </div>
                           


                            
                           </div>

                            


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
    </div>

  </div>
</div>

<!--fin modal-->

      <h2>Lotes</h2>
     







          <style type="text/css">

          .preloader{

            margin-top: 5em;
          }

          </style>




      <table class="table  table-condensed table-hover ">
    
        <tbody>

        <thead>

            <tr>

 

                  <th class='id'>Id <a ng-click="sort_by('id',currentPage)"><i class="icon-sort"></i></a></th>
                  <th class='name'>Lote <a ng-click="sort_by('name',currentPage)"><i class="icon-sort"></i></a></th>
                         

                            <th class='enviado'>Enviados  <a ng-click="sort_by('enviado',currentPage)"> <i class="icon-sort"></i></a></th>

                            <th class='listo'>Por Enviar  <a ng-click="sort_by('listo',currentPage)"> <i class="icon-sort"></i></a></th>
                            
                            <th class='fecha'>Fecha de Envio  <a ng-click="sort_by('fecha',currentPage)"> <i class="icon-sort"></i></a></th>
                            <th></th>

            </tr>

            </thead>


              <tr class='animate' ng-repeat="contact in pagedItems[currentPage]  " ts-repeat>
              <td> {[{contact.id}]}</td>
                  <td> {[{contact.name}]}</td>

               
                   <td> {[{contact.enviado}]}</td>
                   <td> {[{contact.porenviar}]}</td>
                   <td> {[{contact.fecha}]}</td>
          

                
            
            


                <td>
              <button class="btn btn-primary btn-sm" ng-click='verloteblaster(contact)'>Detalle <i class="fa fa-chevron-right"></i></button>
              </td>
              <td>

                 
                
              </td>




           
                

            

              </tr>


        </tbody>


        </table>



     </div> 


        <div class="svg-container" id="boxContainer">
        <svg id="boxLoader" width="70px" height="70px" viewBox="0 0 35 35" preserveAspectRatio="none">
          <rect x="0" fill="#46568B" width="35" height="35" />
        </svg>
        <svg id="base" width="210px" height="210px" viewBox="0 0 105 105" preserveAspectRatio="none">
          <line stroke-width="1.5" fill="none" stroke="#383845" stroke-miterlimit="10" x1="0" y1="52.5" x2="105" y2="52.5" />
        </svg>
      </div>


      </div>

    </div>

  
  <style type="text/css">

    .col-md-12, .col-lg-12 {

  padding-top: 2px;
}

  
  p {
  margin: 0 0 10px;
  font-weight: bold;
}





    </style>


<script type="text/javascript" src="/static/js/preload.js"></script>

   

</body>
</html>

   