      <hr align="left"  size="20" width="80%" />

            <h5>Getting Started</h5>

            <hr align="left"  size="20" width="80%" />

   <ul class="nav nav-pills nav-stacked">
                    <li id ="introduccion" class="active"><a href="/introduccion">Introducción</a></li>
                    <li id ="doccarga"><a href="/doccarga">Envio Voip</a></li>
                
                    <li id ="docconsulta"><a href="/docconsulta">Consulta Voip </a></li>

                    
   </ul>

        <script type="text/javascript">

          $( "li" ).removeClass( "active" )

            if (($(location).attr('href').split('/')[3]) =='send_api_single'){

            $( "#send_api_single" ).addClass( "active" )
            }

              if (($(location).attr('href').split('/')[3]) =='introduccion'){

            $( "#introduccion" ).addClass( "active" )
            }

             if (($(location).attr('href').split('/')[3]) =='docconsulta'){

            $( "#docconsulta" ).addClass( "active" )
            }

            if (($(location).attr('href').split('/')[3]) =='doccarga'){

            $( "#doccarga" ).addClass( "active" )
            }

     </script>

     <style type="text/css">


.container {

  background-color: #fff;
  box-shadow: 2px 2px 5px #999;
}
     </style>
