                      <div class='row'>

                          <div class="col-sm-6">
                              <div class='row'>
                                <div class="col-sm-12">
                                <i class="flaticon-antenna6"></i>  
                                </div>
                                <div class="col-sm-12">
                                <center>{[{contact.n_anexo}]}</center>
                                </div>
                              </div>

                          </div>

                          <div class="col-sm-6">

                            <div class='row'>
                                <div class="col-sm-12">
                                <i class="flaticon-auricular6"></i>  
                                </div>
                                <div class="col-sm-12">
                                <center>{[{contact.ip_anexo}]}</center>
                                </div>
                              </div>

                          
                          </div>
                          

                      </div>